.addedClass {
    background-color: rgb(153, 242, 252);
}

.container {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0 20px;
}

.inner {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.out {
    border: 1px solid black;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
}

.nonactive{
  background-image: url(../img/first.png);
  background-size: cover;
}

/* .active {
  background-image: url(../img/second.png);
  background-size: cover;
} */
.active {
  background-color: rgba(0, 255, 98, 0.411);
}

.border {
  border: 5px solid red;;
}